{% load static %}

  
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark pb-2">
      <div class="container">
        <a href="index.html" class="navbar-brand">
          <img id="logo" src="{% static 'assets/images/logo.png' %}"  alt="" width="225" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto">
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'add_record' %}">Add Record</a>
            </li>
            <li class="nav-item">
              <a href="index.html" class="nav-link fw-semibold">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a href="#details" class="nav-link fw-semibold">Register</a>
            </li>
            <li class="nav-item">
              <a
                href="contact.html"
                class="nav-link btn btn-outline-light fw-semibold px-4 mx-4"
                >Login</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

  